{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier",  "react-hooks"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["draft"] }],
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint"
}
